{:paths ["src" "resources"]
 :deps  {
         org.clojure/clojurescript {:mvn/version "RELEASE"}
         org.clojure/spec.alpha    {:mvn/version "RELEASE"}

         ;; com.github.seancorfield/expectations {:mvn/version "2.0.0-alpha2"}
         ;; pjstadig/humane-test-output          {:mvn/version "0.11.0"}

         lilactown/helix                     {:mvn/version "0.0.15"}
         cljs-bean/cljs-bean                 {:mvn/version "1.6.0"}
         tick/tick                           {:mvn/version "0.4.30-alpha"}
         metosin/malli                       {:mvn/version "0.4.0"}
         camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
         }

 :aliases {
           :test
           {:extra-paths ["test"]
            :extra-deps  {}}

           :shadow-cljs
           {:extra-paths ["dev" "test"]
            :extra-deps  {thheller/shadow-cljs {:mvn/version "RELEASE"}
                          binaryage/devtools   {:mvn/version "RELEASE"}
                          cider/cider-nrepl    {:mvn/version "RELEASE"}}
            :main-opts   ["-m" "shadow.cljs.devtools.cli"]}

           :build-release
           {:extra-deps {thheller/shadow-cljs {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "shadow.cljs.devtools.cli" "release" "spa" "gcf"]}

           }}
