{:paths ["src" "resources"]
 :deps  {;;
         org.clojure/clojurescript {:mvn/version "1.10.891"}
         org.clojure/spec.alpha    {:mvn/version "0.2.194"}

         io.github.kunagi/kunagi-utils
         {:git/sha "bb89a6ed4336a00ce027d672a697b9f42dda78b3", :git/tag "v0.1.5"}
         io.github.kunagi/kunagi-mui
         {:git/sha "86d3e334400f092f58477096421e2556e8e14195", :git/tag "v0.0.9"}

         nano-id/nano-id                     {:mvn/version "1.0.0"}
         cljs-bean/cljs-bean                 {:mvn/version "1.6.0"}
         tick/tick                           {:mvn/version "0.5.0-RC5"}
         metosin/malli                       {:mvn/version "0.4.0"}
         camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
         }

 :aliases
 {:build
  {:paths ["src"]
   :deps {;;
          io.github.kunagi/kunagi-build {:local/root "/p/kunagi-build"}
          io.github.kunagi/kunagi-utils {:local/root "/p/kunagi-utils"}
          io.github.kunagi/kunagi-mui {:local/root "/p/kunagi-mui"}
          ;;
          }
   :ns-default build}

  :test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.66.1034"}}
         :jvm-opts ["-Dhyperfiddle.rcf.generate-tests=true"]
         :main-opts ["-m" "kaocha.runner"]}}}
