{:paths ["src" "resources"]
 :deps  { ;;

         ;; https://github.com/clojure/spec.alpha
         org.clojure/spec.alpha {:mvn/version "0.2.194"}

         io.github.kunagi/kunagi-utils
         {:git/sha "b3d426acedc8393c22f99d5ec9d5e8c1965f271f", :git/tag "v0.1.58"}
         io.github.kunagi/kunagi-mui
         {:git/sha "b2fb3a0adfe7f6a7c212874a67e6d431b4a80874", :git/tag "v0.0.74"}

         ;; https://github.com/zelark/nano-id
         nano-id/nano-id {:mvn/version "1.1.0"}

         ;; https://github.com/mfikes/cljs-bean
         cljs-bean/cljs-bean {:mvn/version "1.9.0"}

         ;; https://github.com/juxt/tick
         tick/tick {:mvn/version "0.7.5"}

         ;; https://github.com/metosin/malli
         metosin/malli {:mvn/version "0.14.0"}
         }

 :aliases
 {:build
  {:paths ["src"]
   :deps { ;;
          io.github.kunagi/kunagi-build {:local/root "/p/kunagi-build"}
          io.github.kunagi/kunagi-utils {:local/root "/p/kunagi-utils"}
          io.github.kunagi/kunagi-mui {:local/root "/p/kunagi-mui"}
          ;;
          }
   :ns-default build}

  :test {
         :extra-deps {
                      ;; https://github.com/lambdaisland/kaocha
                      lambdaisland/kaocha {:mvn/version "1.66.1034"}
                      }
         
         :main-opts ["-m" "kaocha.runner"]}}}
