{:lint-as {
           spark.react/defnc      clojure.core/defn
           helix.core/defnc       clojure.core/defn

           spark.ui/def-ui        clojure.core/defn
           spark.models/def-model clojure.core/def
           }}
